.notification-panel {
    width: 400px;
    position: fixed;
    top: 80px;
    right: 20px;
}

.notification-panel-header {
    text-align: center;
    padding: 20px 0;
    position: relative;
    
    font-size: 18px;

    background: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #888;
    font-weight: 600;
}

.badge-count-panel {
    display: inline-block;
    padding: 3px 5px;
    margin-left: 10px;

    font-size: 16px;

    background: #26b9b9;
    color: #fff;
    border-radius: 20px;
}

.notification-panel-content {
    max-height: 300px;
    min-height: 100px;
    overflow: hidden;

    background: #e5e5e5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.notification-scroll-container {
    max-height: inherit;
    overflow-x: hidden;
    overflow-y: auto;
}

.dismiss-all {
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 9px;

    color: #ccc;
    cursor: pointer;
}

.dismiss-all:hover {
    color: #bbb;
}

.caret-up {
    position: absolute;
    top: -22px;
    right: 20px;
    
    font-size: 30px;

    color: #fff;
}

.notification-message {
    line-height: 100px;
    
    text-align: center;
    color: #999;
}